$primary: #0d395f;
$blue: #0b5c95;
$sky: #86bcd4;
$yellow: #dabd2f;
$green: #009f99;
$white: #fff;
$pattens-blue: #d3e7ef;

$z-index-mission: 10;
$z-index-mission-bg: 9;
$z-index-principles: 8;
$z-index-distinctions: 7;
$z-index-distinctions-border: 6;
$z-index-distinctions-bg: 5;
$z-index-directions: 4;
$z-index-directions-border: 3;
$z-index-directions-bg: 2;
$z-index-vision-bg: 1;

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  font-family: 'Whitney SSm A', 'Whitney SSm B';
  margin: 0;
}

ul {
  list-style-type: none;
}

.framework a {
  color: $white;
  text-decoration: none;
  font-size: 14px;
  pointer-events: auto;
  &:hover {
    text-decoration: underline;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.framework-page {
  display: grid;
  grid-template-columns: max-content 500px;
  // grid-template-rows: 900px;
  align-items: center;
  grid-gap: 1rem;
}

.framework-content {
  grid-column: 1;
}

.framework-legend {
  grid-column: 2;
}

$framework-width: 900px;

.framework {
  width: $framework-width;
  height: $framework-width;
  border-radius: 50%;
  // border: 60px solid $pattens-blue;
  color: $white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(13, minmax(50px, 1fr));
  grid-template-rows: repeat(13, minmax(50px, 1fr));
  overflow: hidden;
  cursor: default;
}

.mission {
  text-align: center;
  grid-column: 6 / span 3;
  grid-row: 6 / span 3;
  align-self: center;
  position: relative;
  z-index: $z-index-mission;
  padding-left: 5px;
  padding-right: 5px;
  pointer-events: none;
}

.mission-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.mission-text {
  font-size: 12px;
}

.mission-bg {
  background-color: $primary;
  border-radius: 50%;
  grid-column: 6 / span 3;
  grid-row: 6 / span 3;
  position: relative;
  z-index: $z-index-mission-bg;
}

.principles {
  grid-column: 3/span 9;
  grid-row: 3/span 9;
  position: relative;
  z-index: $z-index-principles;

  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: 1fr 10% 1fr;
  pointer-events: none;
}

$principles-item-padding: 30%;

.principles-item {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 10px;
  // width: 350px;
  transform-origin: center;
  pointer-events: auto;
  position: relative;
  align-self: center;

  &:before {
    content: '';
    display: block;
    width: 10px;
    background-color: $green;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
  }

  // top left
  &:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    transform: rotate(45deg);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), $green);
    text-align: right;
    padding-left: $principles-item-padding;
    &:before {
      left: 100%;
    }
  }

  // top right
  &:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
    transform: rotate(-45deg);
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), $green);
    padding-right: $principles-item-padding;
  }

  // bottom right
  &:nth-child(3) {
    grid-column: 3;
    grid-row: 3;
    transform: rotate(45deg);
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), $green);
    padding-right: $principles-item-padding;
  }

  // bottom left
  &:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), $green);
    text-align: right;
    padding-left: $principles-item-padding;

    &:before {
      left: 100%;
    }
  }
}

.distinctions {
  grid-column: 4 / span 7;
  grid-row: 4 / span 7;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: $z-index-distinctions;
  align-items: center;
  pointer-events: none;
}

.distinctions-item {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  align-self: center;

  &:nth-child(1) {
    grid-column: 2;
  }
  &:nth-child(2) {
    grid-column: 3;
    grid-row: 2;
  }
  &:nth-child(3) {
    grid-column: 2;
    grid-row: 3;
  }
  &:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
  }
}

.distinctions-bg {
  grid-column: 4 / span 7;
  grid-row: 4 / span 7;
  background-color: $blue;
  border-radius: 100%;
  position: relative;
  z-index: $z-index-distinctions-bg;
}

.distinctions-border {
  grid-column: 5 / span 5;
  grid-row: 5 / span 5;
  border: 2px dotted rgba(white, 0.5);
  border-radius: 100%;
  position: relative;
  z-index: $z-index-distinctions-border;
  pointer-events: none;
  // animation: spin 60s linear infinite;
}

.directions {
  grid-column: 2 / span 11;
  grid-row: 2 / span 11;

  display: grid;
  grid-template-columns: 25% 1fr 25%;
  grid-template-rows: repeat(4, 1fr);
  position: relative;
  z-index: $z-index-directions;
  pointer-events: none;
}

.directions-item {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  align-self: center;

  &:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  &:nth-child(2) {
    grid-column: 3;
    grid-row: 2;
  }
  &:nth-child(3) {
    grid-column: 3;
    grid-row: 3;
  }
  &:nth-child(4) {
    grid-column: 2;
    grid-row: 4;
  }
  &:nth-child(5) {
    grid-column: 1;
    grid-row: 3;
  }
  &:nth-child(6) {
    grid-column: 1;
    grid-row: 2;
  }
}

.directions-border {
  grid-column: 3 / span 9;
  grid-row: 3 / span 9;
  border: 2px dotted rgba(white, 0.5);
  border-radius: 100%;
  position: relative;
  z-index: $z-index-directions-border;
  pointer-events: none;
  // animation: spin 60s linear infinite;
  // animation-direction: reverse;
}

.directions-bg {
  background-color: $sky;
  grid-column: 2 / span 11;
  grid-row: 2 / span 11;
  position: relative;
  z-index: $z-index-directions-bg;
  border-radius: 50%;
}

.legend {
  &.active {
    .legend-item {
      opacity: 0.5;
    }
  }
}

.legend-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  transition: opacity 0.5s;

  &.active {
    opacity: 1 !important;
  }
}

.legend-item-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 600;
  color: $primary;
}

.legend-item-body {
}

.modal {
  grid-column: 2 / span 11;
  grid-row: 2 / span 11;
  z-index: 9999;
  background-color: rgba(#000, 0.9);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  align-items: center;
  border-radius: 50%;

  display: none;

  &.active {
    display: grid;
  }

  &.modal-direction {
    background-color: rgba($sky, 0.95);

    .modal-title {
      color: $primary;
    }
  }
  &.modal-distinction {
    background-color: rgba($blue, 0.95);

    .modal-title {
      color: $sky;
    }
  }
}

.modal-body {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  align-self: center;
}

.modal-tag {
  color: $white;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 0.5rem;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 2rem;

  &:after {
    width: 100px;
    height: 4px;
    background-color: $white;
    display: block;
    content: '';
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.modal-text {
  color: $white;
}

.modal-prev {
  padding-left: 2rem;
}

.modal-next {
  padding-right: 2rem;
}

.modal-close {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  padding-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.vision-bg {
  background-color: $pattens-blue;
  grid-column: 1 / span 13;
  grid-row: 1 / span 13;
  position: relative;
  z-index: $z-index-vision-bg;
}

.vision-title {
  font-weight: normal;
  text-align: center;
  font-size: 16px;

  strong {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
  }
}
